@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div>
            <h2>
                About Me
            </h2>
        </div>
    </div>
    <div class="row">
        <div>
            A brief summary about me.
        </div>
    </div>
</div>

@*About Me Stuff*@
<div class="container" style="background-color: lightgray;">
    <div class="row">
        <div class="col-lg-8">
            <h3>
                Software Development Overview
            </h3>
            <p>
                I am Mzamo Shange, a second year student studying BIS Information Science. I am enrolled in the informatics stream where I plan to develop skills to become a Sofware Developer or Data Analyst.
                <br />
                <br />
                I am currently learning the fundamental skills needed in ASP.NET (Web development). My courses in statistics and self-learining Python and Calculus on Coursera will help me gain the necessary skills to become a Data Analyst. 
                <br />
                <br />
                Although my main goal is to work in the field of AI, where I can do research in Machine Learning, the web devellopemtn skills that I will gain in the next few months will most definitely help me to become a better programmer.
            </p>
        </div>
        <div class="col-lg-4" style ="text-align:center;">
            <h3>
                Mzamo Shange
            </h3>
            <img src="~/Media/AboutMePhoto/myPhoto.jpg" style="height: 240px; width: 320px; object-fit: cover;padding-bottom: 30px;"/>
        </div>
    </div>
</div>